<html>
  <head>
    <title>Dev Dive</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Space+Mono:wght@700&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="overflow-hidden">
    <nav class="flex justify-end pr-4 mt-8 space-x-4">
      <a href="/" class="text-blue-600 font-bold">Home</a>
      <a href="/dashboard" class="text-blue-600 font-bold">Dashboard</a>
      <a href="/login" class="text-blue-600 font-bold">Login</a>
      <a href="#" id="logout" class="text-blue-600 font-bold">Logout</a>
    </nav>
    {{{body}}}
  </body>
</html>