<body class="">

  <div class="min-h-screen py-6 flex flex-col sm:py-12">
    <h1>this is the dashboard</h1>
    {{#each blogData as |post|}}
      <div>
        <article class="bg-white rounded-lg shadow-md mb-8 w-4/5 mx-auto">
          <div
            class="flex items-center justify-between bg-gray-800 px-4 py-2 rounded-t-lg"
          >
            <h2 class="text-xl font-bold text-white">{{post.post_title}}</h2>
            <p class="text-gray-300 text-sm">Posted by User123 on May 22, 2023</p>
          </div>
          <div class="p-4 pt-4">
            <p class="text-gray-800">{{post.comments}}</p>
          </div>
        </article>
      </div>
    {{/each}}
  </div>
  {{! <button
    id="newPost"
    class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-2 rounded absolute top-4 right-24"
  ><a href="/newpost">Add Review</a></button> }}
  <script src="/js/logout.js"></script>
</body>