<body class="bg-gray-100">
  <div class="mt-4 min-h-screen flex items-center justify-center">
    <div
      class="bg-slate-100 p-8 rounded-lg shadow-md max-w-md w-full opacity-90"
    >
      <h2 class="text-2xl font-bold mb-4">Add Post</h2>
      <form class="new-post-form">
        <div class="mb-4">
          <label class="block font-bold mb-2">Post Title</label>
          <input
            type="text"
            id="title"
            placeholder="Enter your post title"
            name="title"
            required
            class="w-full border border-gray-300 p-2 rounded-lg"
          />
        </div>
        <div class="mb-4">
          <label for="post" class="block font-bold mb-2">Post Content</label>
          <textarea
            id="post"
            type="text"
            rows="4"
            placeholder="Enter your post"
            name="post"
            required
            class="w-full border border-gray-300 p-2 rounded-lg"
          ></textarea>
        </div>
        <button
          type="submit"
          class="bg-blue-500 hover:bg-blue-700 text-slate-100 font-bold py-2 px-4 rounded"
        >
          Submit Post
        </button>
      </form>
      <div class="mt-4 text-sm text-gray-600">
        <a href="/dashboard" class="text-blue-500">Back to Dashboard</a>
      </div>
    </div>
  </div>
</body>
<script src="/js/newPosts.js"></script>